html {
    margin: 0 auto;
    width: 80%;
}
text {
    font: 12px sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    height: 90vh;
}
svg {
    display: block;
    margin-top: 10em;
    margin-bottom: 10em;
}
#chart5 {
    width: 60%;
}
#next-move-wrapper {
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
}
#board-moves-wrapper {
    width: 40%;
}